* {
  box-sizing:border-box;
  border:red 1px solid
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  min-height: 100%;
  width:100%;
}

.links {
  list-style-type: none;
  margin: 30px;
  font-weight: bold;
}

.nav__bar {
  background-color:#9B969C;
  width:15%;
  float:left;
  height:100%;
  border-right:solid black 1px;
  font-size:1em;
  height:1840px;
}

.img__header {
  width:200px;
}

.top__section {
  background-color:#3E3544;
  height:400px;
}

.name__input {
  width:300px;
  color:#ffffff;
  height:40px;
}

.btn__top{
  width:300px;
  height:40px;
  background-color:#9b969c;
  font-size:1em;
}

.center__header {
  color:#FFFFFF;
  font-size:2em;
  font-weight:lighter;
  width:600px;
}

.center__article {
  float:right;
  position:relative;
  right:30%
}

.center__span{
  font-weight:500;
}



.middle__section { 
  width:85%;
  float:right;
  padding:10px;
}

.container__dog--left {

}

.btn__dogs {
  background-color:#3E3544;
  width:200px;
  height:45px;
  color:#ffffff;
  font-size:1em;
}

.images {
  border-radius:50%;
  border:4px solid #9b969c;
  width:200px;
}

.center__dog {
  width:400px;
  border-radius: 50%;
  border:solid #9b969c 5px
}

.bottom__section {
  background-color:#3E3544;
  width:85%;
  float:right;
  right:-0%;
  clear: right;
  /* position:absolute;
  bottom:-360%; */
  height:240px;
}

.bottom__header {
  color:#ffffff;
  font-size:2em;
}

.bottom__img {
  margin:5px;
}