* {
  box-sizing:border-box;
  border:red 1px solid
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  min-height: 100%;
  width:100%;
}

.links {
  list-style-type: none;
  margin: 40px;
  font-weight:700;
  font-size:large
}

.nav__bar {
  background-color:#9B969C;
  width:15%;
  float:left;
  height:100%;
  border-right:solid black 3px;
  font-size:1em;
  height:1845px;
}

.center__form {
  clear: right;
  width: 500px;
  float: right;
}

.img__header {
  width:180px;
  margin-top:20px;
  margin-left:15px;
}

.top__section {
  background-color:#3E3544;
  height:500px;
  padding-right: 40px;
  width: 85%;
  float: right;
}

.name__input {
  width:500px;
  height:60px;
  margin-top: 10px;
  padding:10px;
  font-weight:700;
  font-size:1.5em;
}

.btn__top{
  width:500px;
  height:60px;
  background-color:#9b969c;
  border:1px solid #9b969c;
  font-size:1.5em;
  margin-top:40px;
  font-weight:500;
}

.input__label {
  color:#ffffff;
  font-size:large;
  font-weight:lighter;
}

.center__header {
  color:#FFFFFF;
  font-size:2.0em;
  font-weight:100;
  width:500px;
  float:right;
  margin-top:100px;
}

.center__article {
  float:right;
  position:relative;
  width: 100%;
  height:100%;
  padding-left: 70px;
  padding-top: 30px;
}

.images {
  border-radius:50%;
  border:5px solid #9b969c;
  width: 250px;
  margin-top:10px
}

.center__dog {
  float:left;
  width:400px;
  border:solid 7px #9b969c;
}

.center__span{
  font-weight:500;
}

.middle__section { 
  width:85%;
  float:right;
  padding:0px 40px;
}

.middle__header {
  width:300px;
  margin-left:55px;
}

.btn__dogs {
  background-color:#3E3544;
  width:190px;
  height:55px;
  color:#ffffff;
  font-size:1em;
  position: relative;
  float:right;
  right:-52%;
  margin-top:110px

}

.container__dog--left {
  height: 350px;
  border-bottom: solid 2px #9b969c;
}

.container__dog--center {
  height: 350px;
  border-bottom: solid 2px #9b969c;
}

.container__dog--right {
  height: 350px;
}

.para {
  float:right;
  max-width: 600px;
}

.bottom__section {
  background-color:#3E3544;
  width:85%;
  float:right;
  right:-0%;
  clear: right;
  height:235px;
  padding-right: 50px;
}

.bottom__header {
  color:#ffffff;
  font-size:2em;
  float: right;
  margin-right: 200px;
  font-weight: 500;
  padding-top: 20px;
}

.bottom__img {
  margin:10px;
  width:50px;
}

.bottom__media {
  width:150px;
  float:right;
  right:10%;
  clear:both;
  margin-top: -75px;
}