
.navdoggo {
	background-color: #75e2e6;
	margin:0%;
	border-style:solid;
	border-width:thin;
	border-bottom-color: #048eaa;
	border-bottom-width:medium;
}

.body{
	margin:-1px;
	border:solid
}

.dog-icon{
	width:39px;
	height:50px;
	margin-left:20px;
	margin-top:5px;
	margin-bottom:10px;
}

.nav{
	background-color:#75e2e6;
	width:100%;
	border-bottom-style:solid;
	border-bottom-width:3px;
	border-bottom-color:#048eaa;
	height: 57px;
}

label{
	float:left;
}

.topnav{
	list-style:none;
	float:right;
	margin-right:20;
	padding:10;
	text-decoration:none;
}

li{
	display:inline;
	padding:10px;
}

li a{
	text-decoration:none;
	color:black;
	font-weight:bold;
	font-family:"Lucida Console", Monaco, monospace;
}

.circle{
	padding:0px;
	border-radius: 50%;
	border:4px solid #048eaa;
	height:200px;
}

.topheader{
	color:#ffffff;
	font-family:Helvetica
	font-weight:thin;
}

.topcontainer{
	text-align:center;
	background: url("images/dog-party-assets/park.jpg");
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:cover;
	margin-top:-22px;
	padding-bottom: 220px;
}

.changedoggo{
	font-weight:bold;
}

.inputbox{
 	width:255px;
 	padding:22px;
}

.dogname{
	background-color:#75e2e6;
	font-weight:bold;
	width:299px;
	padding:22px;
	font-size: 14px
	border:2px;
}

.dogbuttons{
	height:20px;
}

.doggohead{
	text-align: center;
}

.containerleft{ 
	width:350px;
	height:500px;
	display:inline-block;
	margin:5px;
	padding:50px;
    float:left;
}

.containercenter{
 	width:350px;
 	height:500px;
	display:inline-block;
	text-align:center;
 	margin:5px;
 	padding:50px;
  	float:center;  
}

.containerright{
	width:350px;
	height:500px;
	display:inline-block;
	text-align:center;
	margin:5px;
	padding:50px;
	float:right;
}

.para{
	text-align:center;
	height:150px;
}

.bd{
	background-color:#048eaa;
	color:#ffffff;
	display: block;
  	width: 100%;
  	border: none;
  	padding: 14px 28px;
  	font-size: 16px;
  	font-color:#ffffff;
}

.bottom{
  left: 0;
  bottom: 0;
  height:150px;
  width: 100%;
  background-color:#048eaa;
  text-align: center;
}

.learn{
	text-align:center;
	margin-top: 80px;
	padding-top:10px;
	color:#ffffff;
}

footer img{
  	width: 50px
  	background-color:#048eaa;
  	border: 5px #048eaa;
  	text-align:center;
  	padding-bottom:25px;
}

.bottomnav{
	padding:40%;
	width:50px;
	margin:10px;
	display:inline;
}

